html, body {
     font-family: "Lato", Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #a3d4e5;
} 

#map { 
    float: right;
    bottom:0px;
    height: 100%;
    position: absolute;
    width: 100%; 
}

.title {
    margin: 2%;
    padding-top: 1.5em;
    display: inline;
} 

/* Dropdown menu and List */
.input-option {
    padding-top: 3%;
    padding-left: 2em; 
    display: inline-block;
}

.list {
    padding: 2em;
    list-style-type: none;
}

.list-item {
    margin: 10px;
}

