html, body {
     font-family: "Lato", Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #a3d4e5;
} 

.container {
    height: 100%;
    position: relative;
}

#map { 
    bottom:0px;
    height: 100%;
    position: absolute;
    left: 33%; 
    right: 0px; 
}

.title {
    margin: 2%;
    padding-top: 1.5em;
    display: inline;
} 

/* info Window */
.gm-style-iw {
    background-color: deeppink;
}

/* Hamburger Icon */
.menu-btn {
    width: 3em;
    float: left;
    padding-left: 3em;
    background-color: #a3d4e5;
    border-style: hidden; !important
}

.list {
    padding: 2em;
}




@media screen and (max-width: 800px){ 
    .title{
        display: none;
    }